@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('fonts/fontawesome-webfont.svg') format('svg'), url('fonts/fontawesome-webfont.ttf') format('truetype'), url('fonts/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome-webfont.woff2') format('woff2'), url('fonts/fontawesome-webfont.otf') format('opentype');
}

html {
    font-family: 'FontAwesome';
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    min-width: 375px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.head-block {
    background-image: url("images/b2.jpg");
    background-size: cover;
    width: 100%;
}

.hat-block__position-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-container__submenu i {
    color: white;
    font-weight: bold;
    font-size: 3em;
}

.main-container__nav {
    display: none;
}

.logo__oblige {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid transparent;
    border-bottom: 2px solid white;
}

.logo__charity-fund {
    color: rgb(87, 206, 166);
    font-size: 1em;
}

.main-container__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: white;
}

.main-container__list li:first-child a {
    color: rgb(87, 206, 166);
} 

.main-container__list li {
    display: inline;
    margin-right: 2em;
}

.main-container__list li:last-child {
    margin-right: 0;
}
.title {
    color: white;
    font-size: 1.6em;
}

.main-container__title {
    margin:0;
}

.block-wrap{
    margin-left:30px; 
    padding-bottom: 40px;
}

.main-container__header-h2 {
    color: rgb(87, 206, 166);
    font-size: 1em;
    margin-top:0;
}

.main-container__sentence {
    color: gray;
    font-size: 0.7em;
    line-height: 1;
    margin:0;
}

.btn {
    background: gray;
    width: 20%;
    font-size: 0.6em;
    color: white;
    border: none;
    padding: 0.4em;
}

.main-container__btn {
    margin-top: 20px;
}

.donation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2px;
}

.donation__picture_image-one {
    background: url('images/bb1.jpg');
}

.donation__picture_image-two {
    background: url('images/bb2.jpg');
}

.donation__picture {
    background-size: cover;
    width: 50%;
    background-position-x: 25%;
}

.donation__block {
    width: 50%;
    background: rgb(210, 210, 210);
}

.donation__block_position {
    margin: 20px;
}

.designation {
    font-size: 1em;
    letter-spacing: 0.1em;
    margin: 0;
}

.donation__block p {
    font-size: 0.8em;
    color: rgb(136, 133, 133);
}

.button {
    color: rgb(241, 227, 227);
    background: rgb(51, 193, 153);
    border: none;
    font-size: 0.6em;
}

.button__position-wrapper {
    padding: 0.4em;
}

.button_size-donation {
    width: 40%;
}

.mission {
    width: 100%;
}

.mission__position-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-container__mission {
    margin-bottom: 20px;
}

.mission__block {
    padding: 30px;
}

.mission__block p {
    font-size: 0.8em;
    color: gray;
}

.button_size-mission {
    width: 20%;
}

.mission__images {
    margin: auto;
    width: 60%;
}

.mission__images img {
    width: 100%;
    box-shadow: -0.3em 0.3em 0.5em black;
}

.statistics {
    background: url('images/s1.jpg');
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.indicators {
    margin: 7% 2%;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicators__number_color {
    color: rgb(87, 206, 166);
}

.indicators__icons {
    margin: auto;
}

.indicators__icons_color, .indicators__name_color {
    color: white;
}

.heading {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
}

.foreword {
    text-align: center;
    margin: 20px;
    color: gray;
    font-size: 1em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.gallery__position-wrapper {
    padding: 5px;
}

.gallery__big-photo {
    background-image: url("images/s6.jpg");
    background-size: cover;
    width: 100%;
    box-shadow: -0.1em 0.1em 0.4em black;
    background-position-y: 70%;
}

.nested-item__position-wrapper {
    padding: 20px 10px;
}

.gallery__nested-item_margin-l {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.nested-item {
    background: white;
    opacity: 0.7;
    width: 80%;
    color: black;
}

.nested-title {
    text-align: center;
    font-size: 1.2em;
}

.nested-article {
    text-align: center;
    color: rgb(110, 109, 109);
    font-size: 0.9em;
}

.gallery__little-photo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
}

.gallery__little-icon {
    margin: 10px;
    box-shadow: -0.1em 0.1em 0.4em black;
    width: 100%;
    background-size: cover;
}

.gallery__little-icon_one {
    background-image: url("images/s5.jpg");
}

.gallery__little-icon_two {
    background-image: url("images/s4.jpg");
}

.gallery__little-icon_three {
    background-image: url("images/s3.jpg");
}

.gallery__little-icon_four {
    background-image: url("images/s2.jpg");
}

.gallery__nested-item_margin-s {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-volunteers {
    background-image: url("images/tt1.png");
    margin-top: 30px;
    width: 100%;
    background-size: cover;
}

.heading_modification {
    padding-top: 30px;
    color: white;
}

.foreword_modification {
    color: rgb(189, 182, 182);
}

.gallery-volunteers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
}

.main-container__gallery-volunteers {
    margin: auto;
    padding-bottom: 25px;
}

.badge-volunteers img {
    width: 100%;
}

.badge-volunteers {
    background: rgb(226, 220, 220);
}

.badge-volunteers__caption {
    text-align: center;
    margin: 5px;
    font-size: 1.2em;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
}

.social__item {
    border: 1px solid rgb(87, 206, 166);
    width: 30%;
    text-align: center;
}

.fab {
    padding: 5px;
}

.main-container__badge-volunteers {
    margin: 15px;
}

.our-gallery {
    width: 100%;
    background: rgb(245, 245, 245);
}

.main-container__our-gallery {
    padding-top: 30px;
    padding-bottom: 50px;
}

.album {
    width: 90%;
    margin: auto;
}

.four-picture, .two-picture, .three-picture {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.smoll-picture img,
.big-picture img,
.middle-picture img {
       width: 100%;
}


.latest-blog {
    width: 100%;
    background: rgb(255, 255, 255);
}

.donation_position-relative {
    position: relative;
}

.smoll-icon {
    background: rgb(0, 180, 129);
    width: 2%;
    font-size: 0.5em;
    text-align: center;
    padding: 3% 2%;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 30%;
}

.main-container__portico {
    margin-bottom: 50px;
}

.designation_modification {
    color: rgb(1, 179, 129);
}

.donation__block_modification {
    background: rgb(245, 245, 245);
}

.heart-block {
    width: 100%;
    background: rgb(1, 179, 129);
}

.heart-block__position-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.heart-image {
    text-align: center;
    flex-basis: 50%;
}

.heart-image img {
    width: 50%;
}

.heart-article {
    flex-basis: 50%;
}

.appellation {
    font-size: 1.1em;
    color: white;
    margin: 0;
}

.paragraph {
    font-size: 0.9em;
    color: #127559;
}

.button_size-heart {
    width: 20%;
}

.contact-us {
    width: 100%;
    background: rgb(255, 255, 255);
}

.box-wrapper {
    display: flex;
    flex-direction: column;
}

input, textarea {
    border: 1px solid lightgrey;
    width: 100%;
    margin-bottom: 8px;
    border-left: 3px solid #449181;
    background: #f3f3f3;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 3px;
}

textarea {
    height: 100px;
}

.button_size-submit {
    width: 100%;
}
.button-submit_font {
    font-size:1em;
}

.box-form {
    padding: 10px;
}

.box-address {
    text-align: center;
    padding: 10px;
}

.box-address h2 {
    color: #06b07f;
    font-size: 1.4em;
}

.box-address__sentence {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}

.box-address__paragraph {
    color: gray;
}
.empty-block {
  width: 100%;
  border:1px solid gray;
  box-sizing: border-box;
}

.empty-block__content{
    background: #e4e3df;
    height:90px;
    margin: 5px;
}
.footer-social {
    background:black;
    margin-top:10px;
}
.social_modification {
    background: white;
    flex-basis: 30px;
    margin-top:20px;
    margin-bottom:10px;
}

@media (min-width:500px)  {
    .designation {
        font-size: 1.1em;
    }
    .donation__block p {
        font-size: 1em;
    }
    .button {
        font-size: 0.8em;
    }
   
    .button__position-wrapper {
        padding: 0.5em;
    }
    .statistics {
        flex-direction: row;
        justify-content: space-evenly;
        background-position-y: 20%;
    }
    .indicators {
        font-size: 1.2em;
    }
    .heading {
        font-size: 2em;
    }
    .foreword {
        font-size: 1.4em;
    }
 
    .nested-title {
        font-size: 1.8em;
    }
    .nested-article {
        font-size: 1.6em;
    }
    .badge-volunteers__caption {
        font-size: 1.4em;
    }

    .gallery__nested-item_margin-s {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .four-picture {
        flex-direction: row;
    }
    .smoll-picture {
        width: 50%
    }
    .smoll-icon {
        font-size: 0.6em;
    }
    .heart-block__position-wrapper {
        flex-direction: row;
    }
    .button_size-heart {
        width: 40%
    }
    .heart-image img {
        width: 80%;
    }
}

@media (min-width:600px) {
    .main-container__submenu i {
        font-size: 4em;
    }
    .logo__oblige {
        font-size: 2em;
    }
    .logo__charity-fund {
        font-size: 1.1em;
    }

    .block-wrap{
        padding-bottom: 60px;
    }

    .main-container__title {
        font-size: 1.7em;
    }
    .main-container__header-h2 {
        font-size: 1.2em;
    }
    .main-container__sentence {
        font-size: 0.9em;
        line-height: 1.2;
    }
    .btn {
        font-size: 0.8em;
    }
    .designation {
        font-size: 0.8em;
    }
    .donation__block p {
        font-size: 0.6em;
    }
    .button {
        font-size: 0.6em;
    }
    .button_size-donation {
        width: 50%;
    }
   
    .contribution__position-wrapper {
        display: flex;
    }
    
    .statistics {
        background-position-y: 30%;
    }
    .heading {
        font-size: 1.8em;
    }

    .gallery__nested-item_margin-l {
        margin-top: 180px;
        margin-bottom: 180px;
    }
    .gallery__little-icon {
        width: 45%;
    }
    .nested-title {
        font-size: 1.6em;
    }
    .nested-article {
        font-size: 1.4em;
    }
    .gallery__nested-item_margin-s {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .gallery-volunteers {
        flex-direction: row;
        justify-content: center;
        width: 90%;
    }
    .badge-volunteers {
        width: 40%;
    }
    .four-picture, .two-picture, .three-picture {
        width: 100%;
        flex-direction: row;
    }
    .smoll-picture {
        width: 50%
    }
    .big-picture {
        width: 50%
    }
    .middle-picture {
        width: 33.33%
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .donation__block_position {
        margin: 15px;
    }
    .smoll-icon {
        width: 4%;
    }

    .button_size-heart {
        width: 30%
    }
    .heart-image img {
        width: 70%;
    }
    .appellation {
        font-size: 1.2em;
    }
    .paragraph {
        font-size: 1em;
    }
    .box-wrapper {
        margin: 20px;
        flex-direction: row;
    }
    .box-form {
        width: 50%;
    }
    .box-address {
        width: 50%;
    }
    .social__position-wrapper {
        width:25%;
    }
}

@media (min-width:700px)  {
    .main-container__submenu i {
        font-size: 4.2em;
    }
    .logo__oblige {
        font-size: 2.3em;
    }
    .logo__charity-fund {
        font-size: 1.2em;
    }
    .main-container__title {
        font-size: 1.9em;
        margin-top:40px;
    }

    .main-container__header-h2 {
        font-size: 1.4em;
        
    }
    .main-container__sentence {
        font-size: 1.1em;
    }
    .btn {
        font-size: 0.9em;
    }
    .designation {
        font-size: 1.1em;
    }
    .donation__block p {
        font-size: 0.8em;
    }
    .button {
        font-size: 0.7em;
    }
    .button_size-donation {
        width: 45%;
    }
    
    .contribution__position-wrapper {
        display: flex;
    }
    .mission__position-wrapper {
        flex-direction: row;
    }
    .mission__block {
        width: 60%;
    }
    .mission__block h3 {
        font-size: 1.5em;
    }
 
    .button_size-mission {
        width: 30%;
    }
    .button_position {
        margin: 15px 20px;
    }
    .mission__images {
        width: 30%;
    }
    .mission__images img {
        width: 90%;
    }
   
    .statistics {
        background-position-y: 20%;
    }
    .heading {
        font-size: 2.6em;
    }
    .foreword {
        font-size: 1.6em;
    }
 
    .gallery__nested-item_margin-s {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .gallery__big-photo {
        background-position-y: 50%;
    }
    .gallery__nested-item_margin-l {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .gallery__nested-item_margin-s {
        margin-top: 50px;
        margin-bottom: 50px;
    }
  
    .badge-volunteers {
        width: 40%;
    }
    
    .smoll-picture {
        width: 25%;
    }
    .big-picture {
        width: 50%;
    }
    .middle-picture {
        width: 33.33%;
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .donation__block_position {
        margin: 16px;
    }

    .heart-image img {
        width: 60%;
    }
}

@media (min-width:768px)  {
    .main-container__submenu i {
        display: none;
    }
    .main-container__nav {
        display: block;
    }
    .logo__oblige {
        font-size: 2em;
    }
    .main-container__title {
        font-size:2.2em;
        margin-top:60px;
    }
    .main-container__header-h2 {
        font-size: 1.4em;
    }
    .main-container__sentence {
        font-size: 1.2em;
    }
    .contribution__position-wrapper {
        display: flex;
    }
    .btn {
        font-size: 1em;
    }
    .main-container__btn {
        margin-top:30px;
    }
    
    .contribution__position-wrapper {
        display: flex;
    }
    .mission__position-wrapper {
        flex-direction: row;
    }
  
    .mission__block h3 {
        font-size: 1.5em;
    }
    .mission__block p {
        font-size: 0.9em;
    }
  
    .button_position {
        margin: 15px 20px;
    }
    .heading {
        font-size: 1.5em;
    }
    .foreword {
        font-size: 0.9em;
    }
    .gallery {
        justify-content: space-evenly;
    }
    .gallery__big-photo {
        width: 35%;
        margin: 10px;
    }
    .gallery__nested-item_margin-l {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .nested-title {
        font-size: 1.2em;
    }
    .nested-article {
        font-size: 1em;
    }
    .gallery__nested-item_margin-s {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .gallery__little-photo {
        width: 60%;
        margin-top: 0;
    }
    .gallery-volunteers {
        justify-content: space-between;
    }
    .badge-volunteers {
        width: 20%;
    }
     .fab {
        font-size: 0.7em;
    } 
 
    .smoll-picture {
        width: 25%;
    }
    .big-picture {
        width: 50%;
    }
    .middle-picture {
        width: 33.33%;
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
   
    .smoll-icon {
        width: 3%;
    }
    .heart-image img {
        width: 50%;
    }
    .appellation {
        font-size: 1.1em;
    }
    .paragraph {
        font-size: 0.9em;
    }
    .social__position-wrapper {
        width:20%;
    }
}

@media (min-width:900px)  {
    .block-wrap {
        margin-left:60px;
    }
    .main-container__title {
        font-size: 2.5em;
        margin-top: 80px;
    }
    .main-container__header-h2 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    .main-container__sentence {
        font-size: 1.1em;
    }
    .btn {
        font-size: 1.1em;
    }
    .main-container__btn {
       margin-top: 30px;
       margin-bottom:30px;
    
    }
    .designation {
        font-size: 1.2em;
    }
    .donation__block p {
        font-size: 1em;
    }
    .button {
        font-size: 0.8em;
    }
    .contribution__position-wrapper {
        display: flex;
    }
    .mission__position-wrapper {
        flex-direction: row;
    }
    .mission__block {
        padding-left: 40px;
    }
    .mission__block h3 {
        font-size: 1.8em;
    }
    .mission__block p {
        font-size: 1em;
    }
    .button_size-mission {
        width: 20%;
    }
    .button_position {
        margin: 15px 20px;
    }
    .heading {
        font-size: 2.2em;
    }
    .foreword {
        font-size: 1.6em;
    }
    .gallery__nested-item_margin-l {
        margin-top: 150px;
        margin-bottom: 130px;
    }
    .nested-title {
        font-size: 1.8em;
    }
    .nested-article {
        font-size: 0.8em;
    }
  
    .badge-volunteers {
        width: 20%;
    }
 
    .smoll-picture {
        width: 25%;
    }
    .big-picture {
        width: 50%;
    }
    .middle-picture {
        width: 33.33%;
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .donation__block_position {
        margin: 18px;
    }
    .appellation {
        font-size: 1.2em;
    }
    .paragraph {
        font-size: 1em;
    }
    .button-submit_font {
        font-size:1.1em;
    }
}

@media (min-width:1024px) {
    .contribution__position-wrapper {
        display: flex;
    }
    .designation {
        font-size: 1.3em;
    }
    .donation__block p {
        font-size: 1.1em;
    }
    .button {
        font-size: 0.9em;
    }
  
    .mission__position-wrapper {
        flex-direction: row;
    }
    .mission__block h3 {
        font-size: 2em;
    }
    .mission__block p {
        font-size: 1.2em;
    }
    .button_position {
        margin: 15px 20px;
    }
    .mission__images img {
        width: 80%;
    }
    .indicators {
        font-size: 1.5em;
    }
    .gallery__nested-item_margin-l {
        margin-top: 130px;
        margin-bottom: 130px;
    }
    .nested-title {
        font-size: 1.8em;
    }
    .nested-article {
        font-size: 1em;
    }
    .gallery__nested-item_margin-s {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .badge-volunteers {
        width: 20%;
    }
    .smoll-picture {
        width: 25%;
    }
    .big-picture {
        width: 50%;
    }
    .middle-picture {
        width: 33.33%;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }

    .button_size-heart {
        width: 20%
    }
 
    .appellation {
        font-size: 1.4em;
    }
    .paragraph {
        font-size: 1.2em;
    }
 
    .button-submit_font {
        font-size:1.2em;
    }
    .empty-block__content{
        height:120px;
        margin: 5px;
    }
    .social__position-wrapper {
        width:15%;
    }
    
}

@media (min-width:1200px) {
    .nav__link {
        font-size: 1.5em;
    }
    .logo__oblige {
        font-size: 2.2em;
    }
    .block-wrap {
        margin-left:75px;
    }
    .main-container__title {
        font-size: 3em;
        margin-top:110px;
    }
    .main-container__header-h2 {
        font-size: 1.6em;
        margin-bottom:20px;
    }
    .main-container__sentence {
        font-size: 1.2em;
    }
    .btn {
        font-size: 1.2em;
        width: 15%;
    }
    .main-container__btn {
       margin-top: 30px;
       margin-bottom:40px;
    }

    .designation {
        font-size: 1.4em;
    }
    .donation__block p {
        font-size: 1.2em;
    }
    .button {
        font-size: 1em;
    }
    .button_size-donation {
        width: 40%;
    }
 
    .contribution__position-wrapper {
        display: flex;
    }
    .mission__position-wrapper {
        flex-direction: row;
    }
    
    .mission__block h3 {
        font-size: 3em;
    }
    .mission__block p {
        font-size: 1.4em;
    }
    .button_position {
        margin: 15px 20px;
    }
    .indicators {
        font-size: 1.6em;
    }
    .heading {
        font-size: 3em;
    }
    .foreword {
        font-size: 2.4em;
    }
    .gallery__nested-item_margin-l {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .nested-title {
        font-size: 2em;
    }
    .nested-article {
        font-size: 1.2em;
    }
    .badge-volunteers {
        width: 20%;
    }
    .fab {
        font-size: 0.9em;
    }
    .smoll-picture {
        width: 25%;
    }
    .big-picture {
        width: 50%;
    }
    .middle-picture {
        width: 33.33%;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .donation__block_position {
        margin: 20px;
    }
    .smoll-icon {
        font-size: 0.8em;
    }
    .appellation {
        font-size: 1.6em;
    }
    .paragraph {
        font-size: 1.3em;
    }
    .box-wrapper {
        margin: 50px;
    }
    .box-address h2 {
        font-size: 2em;
    }
    .box-address__sentence {
        font-size: 1.4em;
    }
    .box-address__paragraph {
        font-size: 1.2em;
    }
    input, textarea {
        font-size: 1.4em;
    }
    
}

@media (min-width:1400px) {
    .nav__link {
        font-size: 1.6em;
    }
    .logo__oblige {
        font-size: 2.3em;
        margin-left: 20px;
    }
    .logo__charity-fund {
        margin-left: 20px;
    }

    .main-container__btn {
        margin-top: 30px;
        margin-bottom:50px;
     }

    .main-container__title {
        font-size: 3.6em;
        margin-top:130px;
    }
    .main-container__header-h2 {
        font-size: 2.4em;
    }
    .main-container__sentence {
        font-size: 1.4em;
    }
    .btn {
        font-size: 1.4em;
        width: 10%;
    }
    .designation {
        font-size: 1.7em;
    }
    .donation__block p {
        font-size: 1.5em;
    }
    .button {
        font-size: 1.3em;
    }

    .contribution__position-wrapper {
        display: flex;
    }
    .mission__position-wrapper {
        flex-direction: row;
    }
    .mission__block {
        padding-left: 55px;
    }
    .mission__block h3 {
        font-size: 3.7em;
    }
    .mission__block p {
        font-size: 1.6em;
    }
    
    .button_position {
        margin: 15px 20px;
    }
    .heading {
        font-size: 3.7em;
    }
    .foreword {
        font-size: 2.2em;
    }
    .gallery__nested-item_margin-l {
        margin-top: 180px;
        margin-bottom: 180px;
    }
    .nested-title {
        font-size: 2.4em;
    }
    .nested-article {
        font-size: 1.4em;
    }
    .gallery__nested-item_margin-s {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .badge-volunteers {
        width: 20%;
    }
    .fab {
        font-size: 1.1em;
    }
    .smoll-picture {
        width: 25%;
    }
    .big-picture {
        width: 50%;
    }
    .middle-picture {
        width: 33.33%;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .donation__block_position {
        margin: 25px;
    }
    .smoll-icon {
        font-size: 1em;
    }
    .button_size-heart {
        width: 25%
    }
    .appellation {
        font-size: 2em;
    }
    .paragraph {
        font-size: 1.4em;
    }
    .box-address h2 {
        font-size: 1.8em;
    }
    .box-address__paragraph {
        font-size: 1.2em;
    }
    input, textarea {
        font-size: 1.6em;
    }
    .button-submit_font {
        font-size:1.4em;
    }
    .social__position-wrapper {
        width:10%;
    }
    .empty-block__content{
        height:150px;
    }
}

@media (min-width:1600px) {
    .nav__link {
        font-size: 2em;
    }
    .logo__oblige {
        font-size: 2.6em;
        margin-left: 30px;
    }
    .logo__charity-fund {
        font-size: 1.6em;
        margin-left: 30px;
    }
    
    .main-container__title {
        font-size: 4.2em;
        margin-top:155px;
    }
    .main-container__header-h2 {
        font-size: 2.3em;
    }
    .main-container__sentence {
        font-size: 1.6em;
    }
    .btn {
        font-size: 1.6em;
    }
    .main-container__btn {
        margin-top:30px; 
        margin-bottom: 65px;
    }

    .designation {
        font-size: 1.8em;
    }
    .donation__block p {
        font-size: 1.6em;
    }
    .button {
        font-size: 1.4em;
    }

    .contribution__position-wrapper {
        display: flex;
    }
    .mission__position-wrapper {
        flex-direction: row;
    }
    .mission__block h3 {
        font-size: 4.2em;
    }
    .mission__block p {
        font-size: 2em;
    }

    .button_position {
        margin: 15px 20px;
    }
    .mission__images img {
        width: 90%;
    }
    .indicators {
        font-size: 2.4em;
    }
    .heading {
        font-size: 4.2em;
    }
    .nested-title {
        font-size: 2em;
    }
    .gallery__nested-item_margin-s {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .badge-volunteers__caption {
        font-size: 1.5em;
    }
    .badge-volunteers {
        width: 20%;
    }
    .fab {
        font-size: 1.2em;
    }
    .smoll-picture {
        width: 25%;
    }
    .big-picture {
        width: 50%;
    }
    .middle-picture {
        width: 33.33%;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .portico__position-wrapper {
        display: flex;
    }
    .portico__position-wrapper_reverse {
        flex-direction: row-reverse;
    }
    .donation_reverse {
        flex-direction: row-reverse;
    }
    .donation__block_position {
        margin: 35px;
    }
    .smoll-icon {
        font-size: 1.2em;
    }
    .appellation {
        font-size: 2.2em;
    }
    .paragraph {
        font-size: 1.6em;
    }
    .box-wrapper {
        margin-left: 100px;
    }
    .box-address h2 {
        font-size: 2em;
    }
    .box-address__sentence {
        font-size: 1.6em;
    }
    .box-address__paragraph {
        font-size: 1.4em;
    }
    .empty-block__content{
        height:180px;
    }
    
}